*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

clearfix:after{
  content: '';
  display: table;
  clear: both;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.container{
  width: 100%;
  height: 1500px;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  /* background-color: aqua; */
}

/* fixed */
.nav-fixed-container{
  width: 100%;
  height: 80px;
  margin: auto;
  background-color: #f5f8fa;
  border-bottom: 1px solid #33475b;
}

.w-80{
  width: 80%;
  margin: auto;
}

.nav{
  width: 40%;
}

.nav-right{
  width: 40%;
  line-height: 80px;
  text-align: right;
}

.nav-text a{
  font-size: 15px;
  line-height: 80px;
  text-decoration: none;
}

.nav-left{
  border-right: 1px solid grey;
  padding-right: 20px;
}

.nav-contact{
  padding-left: 20px;
}

.nav-text i{
  padding-right: 10px;
}

li{
  list-style: none;
  display: inline;
}

/* button */
.button{
  display: inline-block;
  text-decoration: none; line-height: 40px;
  border-radius: 5px;
  font-size: 12px;
  padding: 0 10px;
  margin-left: 20px;
}

.button.red{
  color: white;
  background-color:#ff8f59;
}

.button.white{
  color: #ff8f59;
  border: 1px solid #ff8f59;
  background-color: transparent;
}

/* header */
.header-container{
  height: 80px;
  background-color: white;
}

.logo{
  margin: 25px 0;
}

.header-menu{
  line-height: 80px;
}

.header-menu a{
  font-size: 15px;
  line-height: 80px;
  text-decoration: none;
  margin: 0 15px;
}

.header-menu i{
  padding-left: 10px;
}

/* jumbotron */
.jumbotron {
  position: relative;
  height: 760px; 
  background-image: url('../img/jumbotron.png');
  background-size: cover;
}

.jumbotron-text {
  width: 35%;
  position: absolute;
  left: 10%;
  top: 20%;
}

.jumbotron-text h1, p, a{
  margin-bottom:  25px;
}

.jumbotron-text a{
  margin-left: 0;
  padding: 10px 40px;
}

/* font-size testo */
.f-size-25{
  font-size: 40px;
}

.f-size-20{
  font-size: 20;
}

.f-size-15{
  font-size: 13px;
  line-height: 25px;
}

.f-size-10{
  font-size: 10px;
}

.f-color{
  color: #33475b;
}

/* Main */
main{
  background-color: #f5f8fa;
}
/* cube */
.cube{
  height: 410px;
  text-align: center;
}

.cube img{
  height: 190px;
  margin-top: 50px;
}

.cube-text p{
  margin: auto;
  margin-top: 40px;
  width: 60%;
}

/* Free */
.free{
  height: 340px;
  background-color: white;
}

.book{
  position: relative;
  margin-top: 70px;
  height: 180px;
}

.book img{
  height: 100px;
  margin-left: 130px;
}


.book a{
  margin-top: 20px;
  margin-left: 130px;
  padding: 5px 40px;
}


