*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.clearfix:after{
  content: '';
  display: table;
  clear: both;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.container{
  width: 100%;
  min-width: 1200px;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}

/* fixed */
.nav-fixed-container{
  position: fixed;
  width: 100%;
  height: 80px;
  margin: auto;
  z-index: 999;
  background-color: #f5f8fa;
  border-bottom: 1px solid #33475b;
}

.w-80{
  width: 80%;
  margin: auto;
}

.nav{
  width: 40%;
}

.nav-right{
  width: 40%;
  line-height: 80px;
  text-align: right;
}

.nav-text a{
  font-size: 15px;
  line-height: 80px;
  text-decoration: none;
}

.nav-left{
  border-right: 1px solid grey;
  padding-right: 20px;
}

.nav-contact{
  padding-left: 20px;
}

.nav-text i{
  padding-right: 10px;
}

li{
  list-style: none;
  display: inline;
}

/* button */
.button{
  display: inline-block;
  text-decoration: none; line-height: 40px;
  border-radius: 5px;
  font-size: 12px;
  padding: 0 10px;
  margin-left: 20px;
}

.button.red{
  color: white;
  background-color:#ff8f59;
}

.button.white{
  color: #ff8f59;
  border: 1px solid #ff8f59;
  background-color: transparent;
}

/* header */
header{
  position: relative;
  padding-top: 80px;
}
.header-container{
  height: 80px;
  background-color: white;
}

.logo{
  margin: 25px 0;
}

.header-menu{
  line-height: 80px;
}

.header-menu a{
  font-size: 15px;
  line-height: 80px;
  text-decoration: none;
  margin: 0 15px;
}

.header-menu i{
  padding-left: 10px;
}

.header-bottom{
  position: absolute;
  bottom: 1px;
  width: 100%;
  height: 90px;
  background-color: rgb(178, 250, 250);
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
}

/* jumbotron */
.jumbotron {
  position: relative;
  height: 760px; 
  background-image: url('../img/jumbotron.png');
  background-size: cover;
}

.jumbotron-text {
  width: 35%;
  position: absolute;
  left: 10%;
  top: 20%;
}

.jumbotron-text h1, p, a{
  margin-bottom:  25px;
}

.jumbotron-text a{
  margin-left: 0;
  padding: 10px 40px;
}

/* font-size testo */
.f-size-25{
  font-size: 40px;
}

.f-size-20{
  font-size: 20;
}

.f-size-15{
  font-size: 13px;
  line-height: 25px;
}

.f-size-10{
  font-size: 10px;
}

.f-color{
  color: #33475b;
}

/* Main */
main{
  background-color: #f5f8fa;
}
/* cube */
.cube{
  height: 410px;
  text-align: center;
}

.cube img{
  height: 190px;
  margin-top: 50px;
}

.cube-text p{
  margin: auto;
  margin-top: 40px;
  width: 60%;
}

/* Free */
.free{
  height: 340px;
  background-color: white;
}

.book{
  margin-top: 70px;
  height: 180px;
}

.book img{
  height: 100px;
  margin-left: 130px;
}


.book a{
  margin-top: 20px;
  margin-left: 130px;
  padding: 5px 40px;
}

.free-crm{
  width: 50%;
  margin: 70px 100px;
}

.free-crm h4{
  font-size: 18px;
  margin-bottom: 30px;
}

.free-crm span{
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.free-crm hr{
  display: inline-block;
  width: 65%;
  vertical-align: middle;
  margin-left: 50px;
  background-color: grey;
}

.free-crm ul{
  margin-top: 30px;
}

.free-crm li{
  margin-right: 20px;
}

/* check */
.check{
  background-color: #ff8f59;
  border-color: #ff8f59;
  border-radius: 50%;
  color: white;
  margin-right: 5px;
}

/* colonne */
.col{
  margin-top: 50px;
  text-align: center;
  height: 650px;
}

.col img{
  height: 120px;
  margin-top: 15px;
}

.col-left, .col-center, .col-right {
  width: 26%;
  box-shadow: 1px 1px grey;
  padding: 5px;
  background-color: white;
}

.col-left{
  margin-left: 0;
  margin-right: 5%;
}

.col-center{
  margin: 0 5%;
}

.col-text h4{
  margin-top: 15px;
  font-size: 20px;
}

.col-text p{
  margin-top: 20px;
  font-size: 15px;
}

.col-text hr{
  width: 60%;
  margin: 40px auto;
  background-color: #33475b;
}

.col-text h5{
  font-size: 18px;
  text-transform: uppercase;
}

.col ul{
  margin-top: 40px;
  margin-bottom: 40px;
}

.col li{
  display: block;
  font-size: 15px;
  text-align: left;
  padding-left: 10px;
}

.col .learn-more{
  text-align: center;
}

.learn-more a{
  padding: 5px 25px;
}

/* grow */
.grow{
  width: 100%;
  padding-bottom: 70px;
  background-image: linear-gradient(#00a6bb, rgb(4, 170, 170));
}

.grow-text{
  text-align: center;
  color: white;
  padding-top: 35px;
}

.grow-text h4{
  font-size: 28px;
}

.grow-text p{
  font-size: 15px;
  padding-top: 20px;
}

/* table */
.table{
  color: white;
}

.row-up{
  height: 160px;
  text-align: center;
  border-bottom: 1px solid white;
}

.oggetto{
  padding-top: 25px;
  width: 25%;
  height: 160px;
  border-right: 1px solid white;
}

.oggetto.no-border-right{
  border-right: none;
}

.oggetto img{
  margin-bottom: 10px;
}

.oggetto h1{
  margin-bottom: 5px;
  font-size: 40px;
}

#plus{
  font-size: 20px;
  line-height: 40px;
  vertical-align: middle;
}

.oggetto i{
  font-size: 40px;
  margin-bottom: 10px;
}

.row-down{
  height: 160px;
  text-align: center;
}

/* customer */
.customer{
  width: 100%;
}

.customer-container{
  width: 70%;
  margin: auto;
}

.customer-text{
  width: 25%;
  padding-left: 25px;
}

.customer-text h1{
  font-size: 40px;
  margin: 40px 0;
}

.customer-text p{
  font-size: 15px;
  line-height: 5px;
}

.customer-list{
  width: 55%;
  margin-left: 210px;
}

.customer-logo img{
  width: 120px;
  margin-top: 50px;
  padding-right: 20px;
  vertical-align: middle;
}
/* start */
.start{
  margin: auto;
  margin-top: 30px;
}

.start-text{
  width: 35%;
  margin-top: 30px;
  padding-bottom: 35px;
}

.start h1{
  margin-bottom: 20px;
}

.start-text a{
  margin-left: 0;

}

.start-img{
  width: 45%;
  text-align: right;
}

.start-img img{
  width: 250px;
}

/* footer */
footer{
  color: white;
  background-color: #2f445a;
}

.footer-container{
  width: 80%;
  margin: auto;
}

.footer-col-1{
  width: 20%;
  padding-top: 40px;  
  margin-right: 50px;
}

.footer-col-1 li{
  display: block;
  line-height: 50px;
  font-size: 12px;
}

.footer-col-1 h3{
  font-size: 15px;
  margin-bottom: 20px;
}

#footer-button{
  background-color: #f5f8fa;
  color: #2f445a;
  text-decoration: none;
  line-height: 40px;
  border-radius: 5px;
  font-size: 12px;
  padding: 12px 12px;
}

.footer-social li{
  display: inline;
  padding-right: 10%;
}

.footer-language{
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.footer-language-list li{
  display: inline;
  font-size: 12px;
  padding: 15px 15px;
}


.footer-logo{
  margin: auto;
  border-top: 1px solid white;
  padding-top: 40px;
}

.footer-logo p{
  font-size: 12px;
}

.footer-logo li{
  padding-left: 20px;
  font-size: 12px;
}

.footer-logo a, .footer-language-list a, .footer-social a, .footer-list a{
  color: white;
  text-decoration: none;
}
